<section id="blog">

    <div class="container">

        <!-- section title -->
        <h2 class="section-title wow fadeInUp">Latest Posts</h2>

        <div class="spacer" data-height="60"></div>

        <div class="row blog-wrapper">

            <div class="col-md-4">
                <!-- blog item -->
                <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
                    <div class="thumb">
                        <a href="#">
                            <span class="category">Project</span>
                        </a>
                        <a href="#">
                            <img src="assets/images/blog/2.svg" alt="blog-title" />
                        </a>
                    </div>
                    <div class="details">
                        <h4 class="my-0 title"><a href="#">Google's PageRank Algorithm: An application of Linear Algebra</a></h4>
                        <ul class="list-inline meta mb-0 mt-2">
                            <li class="list-inline-item">07 January, 2022</li>
                            <li class="list-inline-item">prime</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <!-- blog item -->
                <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
                    <div class="thumb">
                        <a href="#">
                            <span class="category">Cryptography</span>
                        </a>
                        <a href="#">
                            <img src="assets/images/blog/3.svg" alt="blog-title" />
                        </a>
                    </div>
                    <div class="details">
                        <h4 class="my-0 title"><a href="#">Application to Lattice Theory: Post Quantum Lattice based Cryptography</a></h4>
                        <ul class="list-inline meta mb-0 mt-2">
                            <li class="list-inline-item">10 September, 2021</li>
                            <li class="list-inline-item">prime</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <!-- blog item -->
                <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
                    <div class="thumb">
                        <a href="#">
                            <span class="category">Article</span>
                        </a>
                        <a href="#">
                            <img src="assets/images/blog/1.svg" alt="blog-title" />
                        </a>
                    </div>
                    <div class="details">
                        <h4 class="my-0 title"><a href="#">How WhatsApp encryption works: A mathematical Approach</a></h4>
                        <ul class="list-inline meta mb-0 mt-2">
                            <li class="list-inline-item">27 December, 2020</li>
                            <li class="list-inline-item">prime</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>