<section id="testimonials">
    <div class="container">
        <!-- section title -->
        <h2 class="section-title wow fadeInUp">{{site.data.main.section5.name}}</h2>
        <div class="spacer" data-height="60"></div>
        <!-- testimonials wrapper -->
        <div class="testimonials-wrapper">
            <!-- testimonial item -->
            <div class="testimonial-item text-center mx-auto">
                <div class="thumb mb-3 mx-auto">
                    <img src="assets/images/avatar-3.svg" alt="customer-name" class="boximg" />
                </div>
                <h4 class="mt-3 mb-0">Sham Mitna</h4>
                <span class="subtitle">Product designer at TCS</span>
                <div class="bg-white padding-30 shadow-dark rounded triangle-top position-relative mt-4">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit nibh in massa semper rutrum. In rhoncus eleifend mi id tempus. Good luck! 👍</p>
                </div>
            </div>
            <!-- testimonial item -->
            <div class="testimonial-item text-center mx-auto">
                <div class="thumb mb-3 mx-auto">
                    <img src="assets/images/avatar-1.svg" alt="customer-name" class="boximg" />
                </div>
                <h4 class="mt-3 mb-0">Sarvesh Patel</h4>
                <span class="subtitle">Security Analyst at MindTree</span>
                <div class="bg-white padding-30 shadow-dark rounded triangle-top position-relative mt-4">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit nibh in massa semper rutrum. In rhoncus eleifend mi id tempus. Good luck! 🔥</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-6">
                <!-- client item -->
                <div class="client-item">
                    <div class="inner">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/julia/julia-original-wordmark.svg" width="100em" height="100em" alt="julia" />
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <!-- client item -->
                <div class="client-item">
                    <div class="inner">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-plain.svg" width="100em" height="100em" alt="bash" />
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <!-- client item -->
                <div class="client-item">
                    <div class="inner">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" width="100em" height="100em" alt="c++" />
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <!-- client item -->
                <div class="client-item">
                    <div class="inner">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" width="100em" height="100em" alt="github" />
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <!-- client item -->
                <div class="client-item">
                    <div class="inner">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" width="100em" height="100em" alt="linux" />
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <!-- client item -->
                <div class="client-item">
                    <div class="inner">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tensorflow/tensorflow-original-wordmark.svg" width="100em" height="100em" alt="tensorflow" />
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <!-- client item -->
                <div class="client-item">
                    <div class="inner">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" width="100em" height="100em" alt="python" />
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <!-- client item -->
                <div class="client-item">
                    <div class="inner">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ssh/ssh-original-wordmark.svg" width="100em" height="100em" alt="ssh" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>